.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.player-img{
    cursor: pointer;
}
.player iframe{
    border-radius: 10px;

}
.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.player-video{
    height: 50%;
    width: 50%;
}